
.xButton {
    float: right;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 5px;
}

.markerListDiv {
    width: auto;
    padding: 20px;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
}

.popupContent {
    padding: 5px;
}

.markerListDiv li {
    cursor: pointer;
    margin-bottom: 10px;
}